In [ ]:
!mamba install bs4==4.10.0 -y
!mamba install html5lib==1.1 -y
!pip install lxml==4.6.4

/bin/bash: mamba: command not found
/bin/bash: mamba: command not found
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting lxml==4.6.4
  Downloading lxml-4.6.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 9.1 MB/s
Installing collected packages: lxml
  Attempting uninstall: lxml
    Found existing installation: lxml 4.9.1
    Uninstalling lxml-4.9.1:
      Successfully uninstalled lxml-4.9.1
Successfully installed lxml-4.6.4

In [ ]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [ ]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

data = requests.get(url).text

soup = BeautifulSoup(data, 'html5lib')
type(soup)

bs4.BeautifulSoup

In [ ]:
netflix_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

#row = soup.find('tbody').find_all('tr')[0]
#col = row.find_all("td")
#col
for row in soup.find('tbody').find_all('tr'):
  col = row.find_all("td")
  date = col[0].text
  open = col[1].text
  high = col[2].text
  low = col[3].text
  close = col[4].text
  adj_close = col[5].text
  volume = col[6].text

  netflix_data = netflix_data.append({'Date':date, 'Open': open, 'High': high, 'Low':low, 'Close': close, 'Adj Close': adj_close, 'Volume':volume}, ignore_index=True)

In [ ]:
netflix_data.head(5)

           Date    Open    High     Low   Close       Volume Adj Close
0  Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1  May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2  Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3  Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4  Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85

In [ ]:
read_html_data = pd.read_html(str(soup))
read_html_data[0]

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Jun 01, 2021",504.01,536.13,482.14,528.21,528.21,78560600
1,"May 01, 2021",512.65,518.95,478.54,502.81,502.81,66927600
2,"Apr 01, 2021",529.93,563.56,499.00,513.47,513.47,111573300
3,"Mar 01, 2021",545.57,556.99,492.85,521.66,521.66,90183900
4,"Feb 01, 2021",536.79,566.65,518.28,538.85,538.85,61902300
...,...,...,...,...,...,...,...
66,"Dec 01, 2015",124.47,133.27,113.85,114.38,114.38,319939200
67,"Nov 01, 2015",109.20,126.60,101.86,123.33,123.33,320321800
68,"Oct 01, 2015",102.91,115.83,96.26,108.38,108.38,446204400
69,"Sep 01, 2015",109.35,111.24,93.55,103.26,103.26,497401200
70,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [ ]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html"

In [ ]:
html_data = requests.get(url).text
soup = BeautifulSoup(html_data, 'html5lib')
soup.find("title").text

'Amazon.com, Inc. (AMZN) Stock Historical Prices & Data - Yahoo Finance'

In [ ]:
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

html_read_data = pd.read_html(str(soup))
html_read_data[0]
for row in soup.find('tbody').find_all('tr'):
  col = row.find_all('td')
  date = col[0].text
  open = col[1].text
  high = col[2].text
  low = col[3].text
  close = col[4].text
  adj_close = col[5].text
  volume = col[6].text

  amazon_data = amazon_data.append({"Date":date, "Open":open, "High":high, "Low":low, "Close":close, 'adj_close': adj_close, "Volume":volume},ignore_index=True)

In [ ]:
amazon_data.head(5)

           Date      Open      High       Low     Close       Volume adj_close
0  Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20   71,528,900  3,206.20
1  Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93   77,556,200  3,256.93
2  Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04   90,810,500  3,168.04
3  Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  116,226,100  3,036.15
4  Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  115,899,300  3,148.73

In [ ]:
amazon_data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'adj_close'], dtype='object')

In [ ]:
amazon_data[['Open']].tail(1)

      Open
60  656.29